<h2>Angular Tutorial</h2>

<div style="text-align: center">
  <h3>Template Forms</h3>
  <form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      [(ngModel)]="user.firstName"
      required
      class="form-control"
      #firstName="ngModel"
    />
    <label
      class="text-danger"
      *ngIf="myForm.submitted && firstName.hasError('required')"
    >
      First Name is required
    </label>
    <br />
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      [(ngModel)]="user.lastName"
      required
      class="form-control"
      #lastName="ngModel"
    />
    <label
      class="text-danger"
      *ngIf="myForm.submitted && lastName.hasError('required')"
    >
      Last Name is required
    </label>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
